<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Trading Dashboard</h3>
        </div>
        <div class="panel-body">
            <div class="" ng-include="'app/views/tradingaccount.html'"></div>
            <div class="" ng-if="global.showPositions && global.showPositionsSummary" ng-include="'app/views/positionssummaryinfo.html'"></div>
            <div class="" ng-if="global.showPositionsSummary" ng-include="'app/views/positionssummary.html'" ng-controller="positionsSummaryController"></div>
            <tabset>
                <tab heading="Orderbook">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="" ng-include="'app/views/orderbook.html'" ng-controller="orderbookController"></div>
                        </div>
                    </div>
                </tab>
                <tab heading="Tradesbook">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="" ng-include="'app/views/tradesbook.html'" ng-controller="tradesbookController"></div>
                        </div>
                    </div>
                </tab>
                <tab heading="Positions" ng-if="global.showPositions">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="" ng-include="'app/views/positions.html'" ng-controller="positionsController"></div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>